#map {
  resize: vertical;
  height:calc(60vh);
  border: 2px solid #888;
}

#drop-overlay {
  position: fixed; z-index: 1000;
  top: 0; left: 0; right: 0; bottom: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* for Safari */

  display: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 50vh;
  pointer-events: none;
}

.map-section .leaflet-control-zoom, 
.map-section .leaflet-control-layers {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none; /* prevents clicking controls when hidden */
}

.map-section:hover .leaflet-control {
  opacity: 1;
  pointer-events: auto;
}

.map-section .leaflet-control-attribution {
  display: none !important;
}

.map-section .leaflet-control-coords {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(51,51,51);
  padding: 4px;
}

.place  {
  stroke: black;
  stroke-opacity: 0.1;
  fill: black;
  fill-opacity: 0.02;
}

.place:hover  {
  stroke: blue;
  stroke-opacity: 0.2;
  fill: blue;
  fill-opacity: 0.05;
}

/* ---- table ---- */

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 0px 2px;
  text-align: right;
  vertical-align: top;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

th:nth-child(1), td:nth-child(1) {
  text-align: left;
}

/* ---- json pretty print ---- */
.json-key     { color: brown; }
.json-value   { color: navy; }
.json-boolean { color: teal; }
.json-string  { color: olive; }


