html {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    /*font-size: 12pt;*/
    -webkit-font-smoothing: antialiased;
    color: #1a1a1a;
    background:#fff
}

.preformated {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	white-space: pre;
}

[hidden], template {
    display:none
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing:border-box
}

/* --- main --- */
h1, h2 {
    font-weight: bold
}

/* --- img --- */
img {
    border-style: none;
    display:block
}
img, svg {
    max-width: 100%;
    height:auto
}

/* --- a --- */
a {
    color: #ff6e59;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0);
    padding-bottom: .05em;
    -webkit-transition: border .25s ease;
    -o-transition: border .25s ease;
    transition:border .25s ease;
    text-decoration:none
}
a:focus, a:hover {
    border-bottom-color:currentColor
}

/* --- page --- */
.page {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right:5px;
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .page {
        padding-left: 20px;
        padding-right:20px
    }
}
@media (min-width: 1024px) {
    .page {
        padding-left: 40px;
        padding-right:40px
    }
}

/* ---- reportErrors ---- */
#crash-message {
    background-color: #ffbbba;
}

/* ---- input ---- */
input {
    background-color: inherit;
    border: 1px solid #9a9a9a;
    font-family: inherit;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
@media (min-width: 768px) {
    input {
       font-size: 1.0rem;
    }
}
input:focus, input:hover {
    border-color: #1a1a1a;
    outline:0
}

/* ---- textfield ---- */

.section {
    width: 100%;
    position:relative;
    margin-bottom: 18px;
}

.textfield input {
    width: 100%;
    padding:1.2rem 3rem .3rem .6rem;
}  

.textfield label {
    color: #9a9a9a;
    display: block;
    position: absolute;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0.8rem;
    top:0.5rem;
    font-size: 0.7rem
}

/* unique classes */
.framed {
    border: 1px solid #bebebe;
}
.editor{
    background-color:#f0f0f0;
}
.console{
    min-height:150px;
    resize: vertical;
	background-color:#f0f0f0; 
	overflow: scroll;
	white-space: nowrap;
	overflow-anchor: none;
    padding: 0.5em
}
@media (max-width: 768px) {
    .console {
        font-size: 0.7rem;
    }
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
div.form-item {
	margin-bottom: 10px !important; 
	width: 100%;
}
input.form-text {
	width: 100%;
}
input {
	outline-style: none;
}

/* --- table --- */
table {
    border-collapse: collapse;
    border: none;
    width: auto;
    min-width: 100%;
    margin: 0;
}
@media (max-width: 768px) {
    table {
       font-size: 0.6em;
    }
}
tr {
    border-top:1px solid #bebebe
}
tr:last-child {
    border-bottom:1px solid #bebebe
}
tr {
    vertical-align: middle;
    border-bottom-color: rgb(190, 190, 190);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
tr:hover {
    background-color:rgba(0,0,0,0.071);
}
td, th {
    vertical-align: top;
    text-align: left;
    border: none;
    padding:2px 16px 1px
}
td:first-child, th:first-child {
    padding-left:0
}
td:last-child, th:last-child {
    padding-right:0
}
td, th {
    vertical-align: middle;
    padding: 2px 5px 1px ;
}
td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
td h2{
    font-weight: normal;
    margin: 0;
}
td img.prod_img {
	height:96px;
	display:inline;
}
td span.flag-icon {
    margin-right:5px;
}
td img.icon {
    height:1em;
    margin-right:5px;
    display:inline;
}
td ul {
    padding-left:20px;
}
td dl {
	margin-block-end:0px;
	margin-block-start:0px;
}
td dd {
	display: inline;
	margin-inline-start: 5px;
}
td dt {
	display: inline;
}
td dlentry {
    display: list-item;
    margin-left: 20px;
}

.dbrow {
	padding-top:5px;
	padding-bottom:5px;
}
.dbchart {
	width:100%;
    padding: 5px !important;
}
.dbtable {
	min-width: 50%;
    vertical-align: top;
    padding-bottom: 10px;
}
.dbtable table {
    width:auto;
    font-size: 0.8em;
}

/* ---- console details (hex dump) tool tips. ---- */
.message:hover {
    background-color:rgba(0,0,0,0.071);
}
.message.pending .messagehead,
.message.output .messagehead {
    color: #4664b4;
}
.message.input .messagehead {
    color: #a02846;
}
.message.command .messagehead,
.message.event .messagehead {
    color: #3cb46e;
}
.message.head .messagehead {
    color: #c0c0c0;
}
.message {
	font-size:1em;
}
.message .messagehead,
.message .messagetext {
    display:inline;
    margin-right:10px;
}
.message .messagehint {
    margin:5px;
    padding-left:40px;
    padding-right:10px;
}
.message .messagehint table {
    font-size:0.7rem;
}

/* ---- autocomplete box ---- */
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-list {
  position: absolute;
  border: 1px solid rgb(190, 190, 190);
  background-color: rgba(255,255,255,0.9); 
  border-bottom: 1px solid rgb(190, 190, 190);
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow-y: auto;
}
.autocomplete-item {
  border-bottom: 1px solid rgb(190, 190, 190); 
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.autocomplete-item:last-of-type {
  border-bottom: 0; 
}
.autocomplete-active,
.autocomplete-item:hover {
  background-color: rgba(0,0,0,0.071); 
}

/* ---- overlay buttons ---- */
.overlay_button:not( [style*="display: none"] ):first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.overlay_button:not( [style*="display: none"] ):last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.overlay_button {
    display:block;
    margin: 1px;
    padding: 3px;
    color: #fff;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    border: none;
}

/* ---- led ---- */
svg.led_data circle {
  fill: rgba(0,192,0,0.5);
}
svg.led_error circle {
  fill:rgba(192,0,0,0.5);
}

/* ---- map ---- */
/*.overlay_button:focus,
.ol-control button:focus, */
.ol-control button:hover,
.overlay_button:hover {
    background-color: #ff6e59;
	outline-color: transparent; 
}

.ol-scale-line,
.ol-control button, 
.overlay_button {
    background-color:rgba(128,128,128,0.5);
}

.ol-scale-line-inner {
    font-size: 1em;
    font-weight: bold;
}

.overlay_ctrl {
	display: block;
    position: absolute;
    z-index: 49;
    background-color: rgba(255,255,255,.4);
    border-radius: 4px;
    padding: 2px;
}

.ol-overviewmap {
    bottom: auto;
    left: auto;
    right: 0.5em;
    top: 0.5em;
}
.ol-overviewmap:not(.ol-collapsed) button{
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}

/* ---- json pretty print ---- */
.json-key     { color: brown; }
.json-value   { color: navy; }
.json-boolean { color: teal; }
.json-string  { color: olive; }